


/* RESPONSIVE DESIGN is done through Anchors - Min, Max and Clamp instead of Media Queries */

/*  */
/* Media Queries for Light and Dark Mode */
/*  */
@media (prefers-color-scheme: dark)
{


    header, body
    {
        background-color:  rgb(49, 47, 47);

        color: antiquewhite;
    }   


}

@media (prefers-color-scheme: light)
{


    header, body
    {
        background-color: rgb(179, 171, 171);

        color: rgb(0, 0, 0);
    }   


}



/* @media only screen and (max-width:2160px) and (min-width: 1080px)
{ 

    
} */








/*  */
/* Header Stuff */
/*  */


html
{

  /* creates a scrollbar when content overflows */
    overflow: scroll;
    overflow-x: hidden;

}


header
{
  
    font-size: min(1.3rem, 4vw);
    font-weight: bold;
    margin-bottom: min(35px, 3vw);
    text-align: center;

    height: min(2em, 80%, 2.5vw);

    
    /* color: rgb(0, 0, 0); */
}




.PageLinks nav
{

    margin-bottom: min(30px, 2vw);
    /* padding: min(2px, 0.5vw); */
    

}


/* Links CSS (For social and page navigation) */
nav ul
{
  
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    text-align: left;
    direction: ltr;
    font-size: min(2.4em, 90%, 4.8vw);

}


/* Link Colors */
/* unvisited link */
a:link
{
  color: white(124, 106, 106);
}

/* visited link */
a:visited 
{
  color: white;
}

/* mouse over link */
a:hover 
{
  color: rgb(134, 73, 129);
}

/* selected link */
a:active 
{
  color: rgb(255, 255, 255);
}


/* Custom Header */

.PageLinks ul
{

  
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: min(3rem, 5%);

    padding: min(0px, 0.5vw);
    gap: min(3rem, 2vw);
    

     
    /* text-align: center; */

    /* display: table; */

   


}

/* About Myself Section CSS */
.AboutMyself
{
    margin: 0;
    margin-top: 20px;
    padding: 0;
    text-align: center;
    

}

/* Social Media Links Section CSS */
.SocialMediaLinks 
{

    
    margin: min(15px, 2vw);
    margin-block: min(15px, 2vw);
    margin-inline: auto;

    display: flex;

    justify-content: center;

    flex-direction: column;
    align-items: center;

    width: clamp(68vw, 50%, 220em);
    height: clamp(120px, 20%, 180px);



    padding: min(6px, 0.5vw);
    text-align: center;

    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(41, 39, 39);

    

    
}


/* Social Media Links Section Header 3 CSS */
.SocialMediaLinks h3
{
    margin: 0;
    padding: 0;
    font-size: min(1.4rem, 2.6vw);

}

/* Social Media Links Section CSS */
.SocialMediaLinks ul
{
  
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    text-align: center;
    gap: min(70px, 1.4vw);

}

/* Flex container */
#box1
{
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: min(50px, 3vw);
}