
body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#ResumeContainer 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: min(20px, 2vw);
}

.ResumeIntro 
{
    text-align: center;
    margin-bottom: 20px;
    font-size: min(1.3rem, 2vw);
}

.ResumePageButton
{
    display: flex;
    margin: auto;
    padding: min(10px, 1.5vw) min(20px, 2vw);
    background-color: rgb(66, 54, 85);
    color: white;
    border: 3px solid rgb(0, 0, 0);
    font-size: min(1.2rem, 2vw);
    cursor: pointer;
}